@font-face {
    font-family: roboto;
    src: "resources/resume/RobotoCondensed-Regular.ttf";
}

:root {
    --color-A:#f8f8f8;
    --color-B:#f4f4f4;
    --color-C:#424242;
    --color-D:#585858;
    --color-E:#aaaaaa;
    --color-F:#cccccc;
}

a {
    text-decoration: none;
}

h1, h2, h3, p {
    font-family: 'roboto', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--color-A);
}

h1 {
    font-size: min(6vw, 225%);
}

h2 {
    font-size:  29px;
}

p {
    font-size: 20px;
    color: var(--color-B);
}

br {
    margin: 8px;
    display: block;
}

body {
    background: var(--color-B);
}

header, footer {
    background: var(--color-C);
    margin: -8px; 
    text-align: center;
    box-shadow: 0 0 20px 5px var(--color-D);
}

header {
    position: sticky;
    top: 0;
    width: 100vw;
    margin-bottom: 32px;
}

footer {
    height: 7.5vh;
}

footer > p {
    padding-top: 2.5vh;
    height:0;
    white-space: nowrap;
    margin: 0px;
    font-size:2vh;
}

#hotbar {
    width:80%;
    margin: auto;
    padding-bottom:16px;
}


#hotbar a {
    display: inline-block;
    width: 32%;    
}

#hotbar p {
    font-size: 2.5vh;
    margin: 0;
}

header > #me-box {
    display: block;
    padding: 36px 36px 28px 36px;
    text-align: center;
    margin: auto;
}

#me-box  #profile-picture {
    border-radius: 50%; 
    height:20vh;
}

#me-box  #name {
    padding: 0;
    margin: 0;
    font-size:4vh;
}

.panel-navigation {
    background: var(--color-E);
    margin: 25px 10px 45px 10px;
    box-shadow: 0 0 30px 10px var(--color-D);
}

.panel-navigation img {
    width: 100%;
}

.panel-navigation h1,
.panel-navigation h2 {
    color:  var(--color-C);
}

.panel-navigation p {
    color: var(--color-C);
}

.panel-navigation > .subtitle {
    text-align: center;
    background: var(--color-F);
    margin-top: -4px;
}

.panel-navigation > .subtitle > h1 {
    color:  var(--color-C);
    white-space: nowrap;
    margin: 0;
    padding:16px;
}


.cv-panel > h1 {
    color:  var(--color-C);    
    max-width: 650px;
    margin: auto;
}

.cv-segment h2 {
    margin: 8px;
}

.cv-segment p {
    padding-left: 1.5em;
    text-indent:-1.5em;
    margin: 8px;
}

.cv-segment .description {
    font-style: italic;
}

.cv-segment {
    padding: 8px;
}

.cv-segment b {
    font-style: normal;
    color:  var(--color-C);
}

#short-story {
    color:  var(--color-C);
    text-align: center;
    margin: 0;
    text-indent: 0;
    padding: 8px 64px
}

#cv-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 40px;
}

.cv-buttons {
    width: 10vw;
    max-width:65px;
    display: inline-block;
    padding: 16px;
}


.code-display {
    font-size: auto;
    width: 100%;
    padding: 32px;
}

.code-panel {
    padding: 8px;
}

.centered {
    text-align: center;
}



.project-panel {
    padding:8px 32px;
    text-align: center;
}

.project-description {
    padding: 8px;
    margin-bottom: 25px;
}

.project-description p {
    color: var(--color-C);
}

.project-panel .video {
    text-align: center;
}

.project-panel img {
    width:95%;
    height:auto;
    border: 1px solid var(--color-C);
}

.project-panel .video > iframe {
    width:80vw;
    height: calc(80vw * 0.5625);
}

.project-panel > h1 {
    color: var(--color-C);
    margin-top:0;
}

@media(min-width:700px) {

    .panel-navigation {
        width: 650px;
        margin: 25px auto 45px auto;
    }

    #short-story  {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(min-width: 1000px) {

    #indexfooter {
        bottom: 0;
        position: fixed;
        width: 100%;
    }

    #index {
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;

        bottom: 0;
        position: fixed;
        width: 100%;
        transform: translate(0, -25%);
    }   

    #index a {
        width:30%;
        display:inline-block;
    }

    .panel-navigation {
        width:100%;


    }
}
