
@media(min-width:0px) {
    /* BASIC STYLES */
    @font-face {
        font-family: roboto;
        src: "resources/resume/RobotoCondensed-Regular.ttf";
    }
    
    :root {
            --color-A:#f8f8f8;
            --color-B:#f4f4f4;
            --color-C:#424242;
            --color-D:#585858;
            --color-E:#aaaaaa;
            --color-F:#cccccc;
    }
    
    a {
        text-decoration: none;
        color:inherit;
    }

    a:hover {
        color: var(--color-A);
    }
    
    h1, h2, h3, p {
        font-family: 'roboto', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        color: var(--color-A);
    }
    
    h1 {
        font-size: min(6vw, 225%);
    }
    
    h2 {
        font-size:  29px;
    }
    
    p {
        font-size: 20px;
        color: var(--color-B);
    }
    
    b {
        font-style: normal;
        color:  var(--color-C);
    }

    br {
        margin: 8px;
        display: block;
    }
    
    body {
        background: var(--color-B);
    }
    
    embed {
        width:100%;
        margin: -8px;
    }


    /* HEADER STYLES */
    header {
        position: sticky;
        top: 0;
        background: var(--color-C);
        margin: -8px -8px 32px -8px; 
        text-align: center;
        box-shadow: 0 0 20px 5px var(--color-D);
    }
    
    #me-box {
        display: block;
        padding: 36px 36px 28px 36px;
        text-align: center;
        margin: auto;
        height: max(18vh, 150px);
    }
    
    #me-box #profile-picture {
        border-radius: 50%; 
        height: 85%;
        min-height:110px;
    }
    
    #me-box  #name {
        padding: 0;
        margin: 0;
        /* #me-box height divided by 6 */
        font-size: max(3vh, 25px);
    }
    
    #hotbar {
        margin: auto;
        padding-bottom:16px;
        display: flex;
        justify-content: center;
    }
    
    #hotbar a {
        display: inline-block;    
        width: 300px;
    }
    
    #hotbar a {
        font-size: 2.5vh;
        margin: 0;
    }

    #hotbar > a > p:hover {
        color: var(--color-F);
    }
    

    /* FOOTER STYLES */
    footer {
        height: 55px;
    
        background: var(--color-C);
        margin: -8px; 
        text-align: center;
        box-shadow: 0 0 20px 5px var(--color-D);
    }
    
    footer > div {
        height: 100%;
        width: 100vw;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    
    footer > div > p {
        font-size:16px;
    }

    

    /* GENERIC STYLES */
    .panel {
        background: var(--color-E);
        margin: 25px 10px 45px 10px;
        box-shadow: 0 0 30px 10px var(--color-D);
    }

    .panel p, 
    .panel h1,
    .panel h2 {
        color: var(--color-C);
    }

    #short-story {
        color:  var(--color-C);
        text-align: center;
        margin: 0;
        text-indent: 0;
        padding: 8px 64px
    }



    /* MENU SPECIFIC STYLES */
    .menu-panel img {
        width: 100%;
    }

    .menu-panel > .subtitle {
        text-align: center;
        background: var(--color-F);
        margin-top: -4px;
    }

    .menu-panel > .subtitle > h1 {
        color:  var(--color-C);
        white-space: nowrap;
        margin: 0;
        padding:16px;
    }



    /* RESUME STYLES */
    #cv-button-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 40px;
    }

    .cv-buttons {
        width: 10vw;
        max-width:65px;
        display: inline-block;
        padding: 16px;
    }

    .cv-panel > h1 {
        color:  var(--color-C);    
        max-width: 650px;
        margin: auto;
    }

    .cv-segment h2 {
        margin: 8px;
    }

    .cv-segment p {
        padding-left: 1.5em;
        text-indent:-1.5em;
        margin: 8px;
    }

    .cv-segment .description {
        font-style: italic;
    }

    .cv-segment {
        padding: 8px;
    }



    /* DEVELOPER STYLES */
    .code-display {
        font-size: auto;
        width: 100%;
        padding: 32px;
    }

    .code-panel {
        padding: 8px;
    }

    .centered {
        text-align: center;
    }



    /* PROBLEM SOLVER STYLES */
    .project-panel {
        padding:8px 32px;
        text-align: center;
    }

    .project-panel > h1 {
        color: var(--color-C);
        margin-top:0;
    }

    .project-description {
        padding: 8px;
        margin-bottom: 25px;
    }

    .project-panel .video {
        text-align: center;
    }

    .project-panel .video > iframe {
        width:80vw;
        height: calc(80vw * 0.5625);
    }

    .project-panel img {
        width:95%;
        height:auto;
        border: 1px solid var(--color-C);
    }
}

@media(min-aspect-ratio: 1/4) {
    .panel {
        width: 650px;
        margin: 25px auto 45px auto;
    }
    
    #short-story  {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .project-panel .video > iframe,
    .project-description,
    .project-panel img {
        width: min(650px, 80vw);
    }

    .project-panel .video > iframe {
        height: calc(min(650px, 80vw) * 0.5625);
    }
}

@media(min-aspect-ratio: 14/9) {
    #index {
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        bottom: 0;
        width: 100%;
    }   

    #index a {
        display:inline-block;
        padding: 0 50px 0 50px; 
    }

    .menu-panel {
        width:500px;
    }


    /* RESUME STYLES */
    .cv-panels {
        width: 80vw;
        margin: auto;

        display: flex;
        flex-flow: column wrap;
    }

    .cv-panels > :nth-child(2n + 1) {
        order: 1;
    }

    .cv-panels > :nth-child(2n + 2) {
        order: 2;
    }

    .cv-panels > :nth-child(-n + 2) {
        page-break-before:always;
        break-before: always;
    }

    .cv-panel > .panel {
        width: 35vw;
    }


    /* PROBLEM SOLVER STYLES */
    .project-panel {
        margin-bottom: 64px;
    }

    .project-contents {
         display: table;
         width: 80vw;
         margin: auto;
         justify-content: space-around;
    }

    .project-description {
        margin: 0;
        padding: 0;
        display: table-cell;
        vertical-align: middle;
    }

    .project-description p {
        margin-left: 40px;
        margin-right: 40px;
    }

    .project-contents img,
    .project-contents .video > iframe,
    .project-visual,
    .project-description {
        width: 38vw;
    }

    .project-contents .video > iframe {
        height: calc(38vw * 0.5625);
    }
}


@media(min-width:1815px) {
    #home > footer {
        position:absolute;
        bottom:0;
        margin-bottom: 0;
    }
}
